<%- include("base") %>

<% block content %>
<h1>🔥 MetaMorph is Live</h1>
<p>This is your homepage. You made it.</p>
<a href="/media/image-processor"><button>Image Processor</button></a>
<a href="/media/video-processor"><button>Video Processor</button></a>
<% endblock %>
